<div class="score-table">
  <%= form_for :scores, url: update_scores_path(game_id: @game.id), html: { multipart: true } do |f| %>
    <div class="score-input">
      <p>
        <%= f.label :player_1 %>
        <%= f.text_field(:player_1_points, class: "form-control") %>
      </p>
    </div>

    <div class="score-input">
      <p>
        <%= f.label :player_2 %>
        <%= f.text_field(:player_2_points, class: "form-control") %>
      </p>
    </div>

    <div class="center">
      <p>
        <%= f.submit "Update Score", class: "btn btn-primary" %>
      </p>
    </div>
  <% end %>
</div>
