<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <h1>New Game</h1>
    </div>
  </div>
  <div class="panel-body">
    <%= form_for :game, url: games_path, html: { multipart: true } do |f| %>
      <div class="form-group">
        <p>
          <%= f.label :player_1 %>
          <%= f.collection_select(:user1_id, User.all, :id, :email, {selected: current_user}, class: "form-control") %>
        </p>
      </div>

      <div class="form-group">
        <p>
          <%= f.label :player_2 %>
          <%= f.collection_select(:user2_id, User.where.not(id: current_user.id), :id, :email, {prompt: "Select user"}, class: "form-control") %>
        </p>
      </div>

      <div class="form-group">
        <p>
          <%= f.submit "Save Game", class: "btn btn-primary" %>
        </p>
      </div>
    <% end %>
  </div>

  <div class="panel-footer">
    <p>
      <%= link_to 'View All', games_path %>
    </p>
  </div> 
</div>
