<h1 class="center">Game #<%= @game.id %></h1>

<%= render "score_table" %>

<div>
  <%= render "score_input", locals: {game: @game} %>
</div>

<div>
  <%= render "user_animal_cards", animals: current_user.animals %>
</div>

<p class="center">
  <%= link_to "All Games", games_path, { class: "btn" } %>
</p>
