<h1>Game #<%= @game.id %></h1>

<table class="table">
  <tr>
    <th>Player 1</th>
    <td><%= @game.users.first.try(:email) %></td>
    <td><%= @game.users.first.try(:score) || "--" %></td>
    <td></td>
  </tr>

  <tr>
    <th>Player 2</th>
    <td><%= @game.users.last.try(:email) %></td>
    <td><%= @game.users.last.try(:score) || "--" %></td>
    <td></td>
  </tr>
</table>

<p>
  <%= link_to "Keep Score", score_path, { class: "btn btn-primary", style: "margin-right:40px" } %>
  <%= link_to "Create New Game", new_game_path, class: "btn btn-primary" %>
</p>
